/*

Known Template 

https://templatemo.com/tm-516-known

*/

  @import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

  body {
    background: #ffffff;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 70px;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }

  .overlay {
    background: rgba(20,20,20,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .entry-form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 450px;
    height: 450px;
  }

  .entry-form h2 {
    color: #ffffff;
    margin: 0;
  }

  .entry-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
  }

  .entry-form .submit-btn {
    background: #ffffff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
  }

  .entry-form .submit-btn:hover {
    background: #3f51b5;
    color: #ffffff;
  }

  section {
    position: relative;
    padding: 100px 0;
  }

  #team,
  #testimonial {
    background: #f9f9f9;
  }

  #team, 
  #testimonial {
    text-align: center;
  }
  
  #google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
  }

  .section-btn:hover {
    background: #ffffff;
    border-color: transparent;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .custom-navbar {
    background: #ffffff;
    border-top: 5px solid #6f42c1;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
  }

.custom-navbar .page-logo{
  width: 7rem;
  height: 7rem;
}

  .custom-navbar .navbar-brand {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 9px;
    padding-left: 9px;
  }

  .custom-navbar .navbar-nav.navbar-right li a .fa {
    background: #6b36ce;
    border-radius: 100%;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }

  .custom-navbar .nav li a {
    line-height: 40px;
    color: #575757;
    padding-right: 17px;
    padding-left: 17px;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li a:hover {
    background-color: #6b36ce;
    color: #ffffff;
  }

  .custom-navbar .nav li.active > a {
    background-color: #6b36ce;
    color: #ffffff;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }



  /*---------------------------------------
      HOME  & SLIDER            
  -----------------------------------------*/

  #home {
    padding: 0;
  }

  #home h1 {
    color: #ffffff;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
  }

  @media (min-width: 768px) {
    .home-slider .col-md-6 {
      padding-left: 0;
    }
  }

  .home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }
  
  .caption h3 a { color: #FFF; }
  .caption h3 a:hover { color: #FF3; }

  .home-slider .item-first {
    background-image: url(../images/slider-image1.jpg);
	background-position: center;
  }

  .home-slider .item-second {
    background-image: url(../images/slider-image2.jpg);
  }

  .home-slider .item-third {
    background-image: url(../images/slider-image3.jpg);
  }



  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  .feature-thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
  }

  .feature-thumb span {
    background: #3f51b5;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
  }

  .feature-thumb h3 {
    margin: 10px 0;
  }



  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }

  #about figure span {
    float: left;
    margin-left: -15px;
    padding: 15px 20px;
    position: relative;
    top: 20px;
  }

  #about figure span i {
    background: #29ca8e;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }



  /*---------------------------------------
      TEAM              
  -----------------------------------------*/

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 0 5px rgb(107 54 206 / 10%);
    transition: 1s;
  }
.team-thumb:hover {
  box-shadow: 0px 0 30px rgb(107 54 206 / 50%);
}

  .team-info {
    padding: 20px 30px;
  }

  .team-image img {
    width: 100%;
  }

  .team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
  }

  .team-info h3 {
    margin: 0;
  }


  /*---------------------------------------
      COURSES             
  -----------------------------------------*/

  #courses .section-title {
    text-align: center;
  }

  #courses .owl-theme .owl-nav {
    margin-top: 30px;
  }

  #courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }

  .courses-thumb {
    background: #f9f9f9;
    position: relative;
  }

  .courses-top {
    position: relative;
  }

  .courses-image {
    background: linear-gradient(to right, #202020, #101010);
  }

  .courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
  }

  .courses-date span,
  .courses-author span {
    font-size: 14px;
    font-weight: bold;
  }

  .courses-date span {
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
  }

  .courses-detail {
    padding: 25px 25px 15px 25px;
  }

  .courses-detail h3 {
    margin: 0 0 2px 0;
  }

  .courses-info {
    border-top: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    padding: 15px 25px;
  }

  .courses-author,
  .courses-author span {
    display: inline-block;
    vertical-align: middle;
  }

  .courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
  }

  .courses-price {
    float: right;
    margin-top: 10px;
  }

  .courses-price span {
    background: #29ca8e;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
  }

  .courses-price.free span {
    background: #3f51b5;
  }



  /*---------------------------------------
     NEWS              
  -----------------------------------------*/

  .news-thumb {
    clear: both;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .news-thumb .news-image {
    float: left;
    width: 40%;
    margin-right: 30px;
  }

  .news-info h3 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .news-date span {
    color: #909090;
    font-weight: bold;
  }



  /*---------------------------------------
      TESTIMONIAL             
  -----------------------------------------*/

  #testimonial .item {
    background: #ffffff;
    margin: 20px 0;
    padding: 4em 3em;
    text-align: left;
  }

  #courses .col-md-4,
  #testimonial .col-md-4 {
    display: block;
    width: 100%;
  }

  #testimonial .item > p {
    font-size: 16px;
    line-height: 26px;
  }

  .tst-rating {
    margin-bottom: 15px;
  }

  .tst-rating .fa {
    color: #3f51b5;
  }

  .tst-image,
  .tst-author {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: left;
  }

  .tst-image img {
    border-radius: 50px;
    width: 60px !important;
    height: 60px;
    margin-right: 15px;
  }

  .tst-author h4 {
    margin: 0;
  }

  .tst-author span {
    color: #808080;
    font-size: 14px;
  }



  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact {
    background: #3f51b5;
  }

  #contact h2 {
    color: #ffffff;
  }

  #contact .section-title {
    padding-bottom: 20px;
  }

  #contact h2 > small,
  #contact p,
  #contact a {
    color: #f9f9f9;
  }

  #contact-form {
    padding: 1em 0;
  }

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    border-radius: 50px;
    border: 1px solid transparent;
  }

  #contact-form input[type='submit']:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }
  



  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    background: #252020;
    padding: 120px 0;
  }

  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer a,
  footer p {
    color: #909090;
  }

  footer strong {
    color: #d9d9d9;
  }

  footer address p {
    margin-bottom: 0;
  }

  footer .social-icon {
    margin-top: 25px;
  }

  .footer-info {
    margin-right: 2em;
  }

  .footer-info h2 {
    color: #ffffff;
    padding: 0;
  }

  .footer_menu h2 {
    margin-top: 2em;
  }

  .footer_menu ul {
    margin: 0;
    padding: 0;
  }

  .footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }

  .newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
  }

  .newsletter-form input[type="submit"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
  }

  .newsletter-form input[type="submit"]:hover {
    background: #29ca8e;
    border-color: transparent;
  }

  .newsletter-form .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #6f42c1;
    color: #ffffff;
  }

team-thumb

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }

  }
@media screen and (min-width: 1170px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 20em;
  }
}
@media screen and (max-width: 1024px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 6em;
  }
}

  @media only screen and (max-width: 992px) {
    section,
    footer {
      padding: 60px 0;
    }

    .home-slider .item {
      background-position: center center;
    }

    .feature-thumb,
    .about-info,
    .team-thumb,
    .footer-info {
      margin-bottom: 50px;
    }

    .contact-image {
      margin-top: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
@media screen and (max-width: 768px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 0em;
  }
  .custom-navbar .nav li a {
    padding-right: 5px;
  }
}
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .navbar-brand,
    .custom-navbar .nav li a {
      line-height: normal;
    }

    .custom-navbar .nav li a {
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .footer-info {
      margin-right: 0;
    }

    .footer-info.newsletter-form {
      margin-bottom: 0;
    }

    .entry-form {
      display: block;
      margin: 0 auto;
    }
  }


  @media only screen and (max-width: 580px) {
    h2 {
      font-size: 1.8em;
    }

    #testimonial .item {
      padding: 2em;
    }

    .contact-image {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 2em;
    }

    #home h3 {
      font-size: 14px;
    }

    .entry-form {
      border-radius: 0;
      padding: 2em;
      max-width: 100%;
      max-height: 100%;
      width: inherit;
      height: inherit;
    }
  }


.fh5co-counters {
  padding: 7em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
}
.fh5co-counters .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}
.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}
.fh5co-counters .fh5co-counter {
  font-size: 44px;
  display: block;
  color: white;
  font-family: "Roboto Slab", serif;
  width: 100%;
  font-weight: 400;
  margin-bottom: .1em;
}
.fh5co-counters .fh5co-counter-label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  margin-bottom: 2em;
  display: block;
  font-family: "Roboto Slab", serif;
}
.fh5co-counters .icon i {
  font-size: 45px;
  color: #fff;
}


/*------Our Portfolio------*/

.our-Portfolio {
  background-color: #f9f9f9;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 6%;
  padding-top: 5%;

}
.our-Portfolio h2 {
  color: #696666;
  margin-bottom: 2%;
}
.our-Portfolio ul {
  list-style: none;
}

.our-Portfolio .portfolio-links {
  justify-content: space-around;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.see-btn {
  margin-top: 2rem;
}
@media only screen and (max-width: 425px) {
  #about{
    font-size: 9px;
  }
  .about-data{
    padding: 7px;
  }
  .feature-thumb {
    padding: 2rem 7px;
  }
  .feature-thumb span {
    width: 70px;
    height: 40px;
    line-height: 43px;
  }
  .team-data {
    padding: 4px;
    height: 228px;
  }
  .comp-data {
    padding: 4px;
    height: 100px;
  }
  .see-btn {
    margin-top: 4rem; !important;
    padding: 4px 12px;
    font-size: 11px;
  }
  .team-info {
    padding: 9px 3px;
    font-size: 10px;
  }
  .fh5co-counters {
    padding: 2em 0;
  }
  .num-data{
    height: 200px;
  }
  .feature-thumb, .about-info{
    margin-bottom: 0;
  }
  .newsletter-form input[type="submit"] {
    width: 100%;
  }

  .social-icon li a {
    font-size: 13px;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }

  .our-Portfolio .portfolio-links {
    padding-left: 0;
    padding-right: 0;
  }

  .our-Portfolio .portfolio-link button:hover, .our-Portfolio .links-container .portfolio-link .frs-btn {
    height: 3.4rem;
    width: 100%;
  }

  .our-Portfolio .portfolio-link {
    height: 4rem;
  }
  .our-Portfolio .links-container .portfolio-link button {
    font-size: smaller;
    padding: 2%;
  }

  .our-Portfolio ul {
    padding: 0;
  }

  .custom-navbar .page-logo {
    float: left;
    margin-left: 12px;
    height: 5rem;
    width: 5rem;
  }
  .fh5co-counters .fh5co-counter {
    font-size: 32px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  #home h3 {
    font-size: 14px;
  }

  .entry-form {
    border-radius: 0;
    padding: 2em;
    max-width: 100%;
    max-height: 100%;
    width: inherit;
    height: inherit;
  }

}
@media only screen and (max-width: 375px) {
  section .section-title h2{
    font-size: 25px;
  }
  .fh5co-counters .fh5co-counter {
    font-size: 30px;
  }

  .team-data {
    padding: 4px;
    height: 200px;
  }
  .comp-data {
    padding: 4px;
    height: 80px;
  }
  .see-btn {
    padding: 4px 10px;
    font-size: 11px;
  }
  .team-info {
    padding: 9px 3px;
    font-size: 10px;
  }
  .footer-info h2 {
    font-size: 12px;
  }
  footer address p {
    font-size: 10px;
  }
  .newsletter-form .form-control {
    font-size: 9px;
  }
  .newsletter-form input[type="submit"] {
    height: 34px;
  }
  footer .social-icon {
    font-size: 8px;
  }
  .footer_menu ul {
    font-size: 8px;
  }
  .copyright-text p{
    font-size: 10px;
  }
  footer {
    padding: 16px 0;
  }
  .first-footer{
    height: 261px;
  }
}
@media only screen and (max-width: 375px) {


  .footer-info h2 {
    font-size: 12px;
  }
  footer address p {
    font-size: 10px;
  }
  .newsletter-form .form-control {
    font-size: 9px;
  }
  .newsletter-form input[type="submit"] {
    height: 34px;
  }
  footer .social-icon {
    font-size: 8px;
  }
  .footer_menu ul {
    font-size: 8px;
  }
  .copyright-text p{
    font-size: 10px;
  }
  footer {
    padding: 16px 0;
    height: 348px;
  }
  .first-footer{
    height: 261px;
  }
}
.our-Portfolio .portfolio-link  {
  text-align: center;
  justify-content: space-between;
}

.our-Portfolio .links-container .portfolio-link  button {
  background-color: #fff;
  border-radius: 10%;
  border: none;
  padding: 10%;
  transition: 0.5s;
}

.our-Portfolio .portfolio-link button:hover , .our-Portfolio .links-container .portfolio-link .selcted-btn {
  background-color: #6b36ce;
}

.portfolio-imgs img{
  margin-top: 5%;
  height: auto;
  width: 100%;
}

#all-hiden{
  display: none;
}

#app {
  display: none;
}
#card {
  display: none;
}
#web {
  display: none;
}

.portfolio-img{
  position: relative;
}


.portfolio-imgs .portfolio-info{
  display: none;
  position: absolute;
  text-align: center;
  top: 6%;
  opacity: 0.7;
  background-color: #000000;
  width: 100%;
  height: 94%;
  color: #fff;
  padding-top: 20%;
  transition: 0.8s;
}

.portfolio-imgs .portfolio-info  a{
  color: #6b36ce;
  font-size: 20px;
  padding: 1%;
  background-color: #fff;
  border-radius: 80%;
  margin: 1%;
  transition: 0.5s;
}

.portfolio-imgs .portfolio-info a:hover{
  background-color: #6b36ce;
  color: #fff;
}

.portfolio-imgs .portfolio-info div h2, .portfolio-imgs .portfolio-info div h4 {
  color: #fff;
  margin-bottom: 3%;
}
/*   comp */
.comp-thumb{
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  .comp-thumb{
    /*margin-top: 0.5rem;*/
    height: 185px;
  }
}
@media only screen and (max-width: 425px) {
  .comp-thumb{
    /*margin-top: 0.5rem;*/
    height: 135px;
  }
}
@media only screen and (max-width: 375px) {
  .comp-thumb{
    /*margin-top: 0.5rem;*/
    height: 111px;
  }
}
.about-inf{
  margin-top: 30px;
}
.about{
  height: auto;
}
@media only screen and (max-width: 786px) {
  .about-section{
    padding: 15px;
  }
  .entry-form {
    margin-top: 20px;
    width: 284px;
    height: 300px;
  }
}
@media only screen and (max-width: 425px) {
  .about-section{
    padding: 10px;
  }
  .about-inf{
    margin-top: 10px;
  }
  .about-inf h2{
    font-size:medium;
  }
  .about-inf h3{
    font-size:medium;
  }
  .entry-form {
    border-radius: 100%;
    margin-top: 20px;
    width: 220px;
    height: 220px;
  }
}
@media only screen and (max-width: 375px) {
  .about-section{
    padding: 5px;
  }
  .about-inf{
    margin-top: 10px;
  }
  .about-inf h2{
    font-size:small;
  }
  .about-inf h3{
    font-size:small;
  }
  .entry-form {
    border-radius: 100%;
    margin-top: 20px;
    width: 150px;
    height: 150px;
  }
}

